body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
    justify-content: center; 
    align-items: center;
    align-self: center;
  }
  
  .grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .mainCard{
    box-shadow: 0 4px 8px rgba(27, 27, 27, 0.2);
  }
  
  .mainCard:hover {
    box-shadow: 0 8px 16px rgba(27, 27, 27, 0.3);
  }

  .Honk_font {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "MORF" 15,
      "SHLN" 50;
  }

  .caveat_font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
  }
  